.subNav {
  background-color: #51ACCC;
  height: 50px;
  z-index: 90;
  position: fixed;
  top: 78px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subNav li {
  float: left;
  margin: 12px 20px;
}

.subNav li span {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0 18px;
  font-size: 30px;
  color: rgb(209, 239, 250);
}

.subNav li span:hover {
  color: #336C7F;
}