@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin center-text {
  text-align: center;
}

@mixin left-justify-text {
  text-align: left;
}

@mixin default-body-text {
  font: {
    size: $default-font-size;
  }
  line-height: $default-line-height;
}

@mixin small-body-text {
  font: {
    size: $small-font-size;
  }
  line-height: $default-line-height;
}

@mixin content-margins {
  margin: 20px auto 0 auto;
}

// ===== SUBMIT BUTTON STYLE =====
@mixin button-style {
  background-color: $btn-color;
  border: none;
  border-radius: $border-radius;
  color: $btn-text-color;
  text-align: center;
  text-decoration: none;
  font-size: $btn-font-size;
  margin: 30px 5px;
  padding: 10px 20px;
  float: right;
  cursor: pointer;
  -webkit-transition-duration: $transition-time; /* Safari */
  transition-duration: $transition-time;
}

@mixin signup-btn-style {
  background-color: none;
  border: 1px solid $btn-color;
  border-radius: $border-radius;
  color: $btn-color;
  text-align: center;
  text-decoration: none;
  font-size: $btn-font-size;
  width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition-duration: $transition-time; /* Safari */
  transition-duration: $transition-time;
}

@mixin signin-btn-style {
  background-color: $btn-color;
  border: none;
  border-radius: $border-radius;
  color: $btn-text-color;
  text-align: center;
  text-decoration: none;
  font-size: $btn-font-size;
  width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition-duration: $transition-time; /* Safari */
  transition-duration: $transition-time;
}

@mixin button-hover {
  background-color: $btn-hover-color;
  color: $btn-text-color;
}

// ===== TIMER BUTTON STYLE =====

@mixin timer-btn-style {
  background-color: none;
  border: 1px solid $btn-color;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  color: $btn-color;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: $btn-font-size;
  margin: 15px auto;
  padding: 8px 30px;
  cursor: pointer;

}

@mixin timer-btn-disabled {
  background-color: none;
  border: 1px solid $btn-disabled-color;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  color: $btn-disabled-color;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: $btn-font-size;
  margin: 15px auto;
  padding: 8px 30px;
}

@mixin timer-btn-hover {
  background-color: $btn-hover-color;
  color: $btn-text-color;
}

// ===== SESSION MENU STYLE =====
@mixin sesh-style {
  display: block;
  margin: 30px auto 0 auto;
}

@mixin image-hover {
  opacity: $img-hover-opacity;
}