// ===== COLORS =====
$body-text-color: #336C7F;
$header-text-color: #51ACCC;
$text-highlight-color: #51ACCC;
$btn-text-color: #fff;
$btn-color: #336C7F;
$btn-hover-color: #51ACCC;
$btn-disabled-color: rgb(117, 117, 117);
$img-hover-opacity: 0.7;


// ===== ANIMATIONS + MISC SETTINGS =====
$transition-time: 0.4;
$border-radius: 3px;
$margin-body: 175px 0 0 0;


// ===== FONTS =====
$text-font: 'Work Sans', sans-serif;
$headline-font: 'Playfair Display', serif;
$default-font-size: 18px;
$small-font-size: 14px;
$large-font-size: 25px;
$default-line-height: 1.6;
$btn-font-size: 16px;
$icon-btn-size: 30px;

// ===== SESSION MENU VARIABLES =====
$menu-num-size: 100px;
$menu-num-weight: bold;
$menu-text-margin: -15px 0 0 0;
$five-min-color: #66D7FF;
$ten-min-color: #51ACCC;
$fifteen-min-color: #336C7F;

// ===== SIZES =====
$body-height: 100%;
