// ===== COLORS =====
$body-text-color: #336C7F;
$btn-text-color: #fff;
$btn-color: #FF7F9E;
$btn-hover-color: rgb(223, 92, 125);



// ===== FONTS =====
$text-font: 'Work Sans', sans-serif;
$headline-font: 'Playfair Display', serif;



// ===== SIZES =====