// ===== COLORS =====
$body-text-color: #336C7F;
$header-text-color: #51ACCC;
$text-highlight-color: #51ACCC;
$btn-text-color: #fff;
$btn-color: #336C7F;
$btn-hover-color: #51ACCC;
$img-hover-opacity: 0.7;


// ===== ANIMATIONS =====
$transition-time: 0.4;


// ===== FONTS =====
$text-font: 'Work Sans', sans-serif;
$headline-font: 'Playfair Display', serif;
$default-font-size: 18px;
$small-font-size: 14px;
$large-font-size: 25px;
$default-line-height: 1.6;
$btn-font-size: 16px;

// ===== SIZES =====
$body-height: 667px;