@import "partials/variables";
@import "partials/mixins";
@include google-font("Work+Sans");
@include google-font("Playfair+Display");
body {
  font-family: $text-font;
  color: $body-text-color;
  height: $body-height;
  margin: $margin-body;
}

h1 {
  @include center-text;
  font-family: $headline-font;
  color: $header-text-color;
}

h2,
h3,
h4,
h5 {
  @include center-text;
  @include content-margins;
  font-family: $headline-font;
  color: $header-text-color;
}

h6 {
  @include center-text;
  @include small-body-text;
  margin: 10px 0;
}

p {
  @include default-body-text;
  @include left-justify-text;
  font-family: $text-font;
}

label {
  @include content-margins;
}

#welcome-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-content p {
  font-family: $headline-font;
  margin: 10px 0 0 0;
}

// ===== SIGN IN / SIGN UP PAGES =====
.auth-form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.email-field,
.pw-field {
  width: 300px;
  margin: 5px;
}

.button {
  @include button-style;
}

.button:hover {
  @include button-hover;
}

// ===== TIMED SESSION MENU =====

#five-min,
#ten-min,
#fifteen-min {
  display: block;
  overflow: hidden;
  h2 {
    font-family: $text-font;
    font-size: $menu-num-size;
    font-weight: $menu-num-weight;
  }
  h4 {
    font-family: $text-font;
    margin: $menu-text-margin;
  }
}

#five-min {
  h2,
  h4 {
    color: $five-min-color;
  }
}

#ten-min {
  h2,
  h4 {
    color: $ten-min-color;
  }
}

#fifteen-min {
  h2,
  h4 {
    color: $fifteen-min-color;
  }
}

#five-min a:hover{
  @include btn-hover;
}

// ===== TIMED SESSION STYLE =====
.sesh-timer {
  .timerBtns {
    width: 225px;
    margin: 0 auto;
  }
  h1 {
    font-family: $text-font;
    font-size: 100px;
    font-weight: bold;
    margin: -20px 0 0 0;
  }
  p {
    font-size: 20px;
    margin: -20px 0 0 0;
    text-align: center;
  }
}

.exercise-desc {
  h3 {
    margin: 0 0 10px 0;
  }
}

// ====================================== BUTTONS ======================================

// ===== SIGN IN/OUT BUTTONS =====
.sign-up-btn {
  @include signup-btn-style;
}

.sign-in-btn {
  @include signin-btn-style;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
  @include button-hover;
}

//===== TIMER BUTTON =====
.timer-btn {
  @include timer-btn-style;
  .far,
  .fas {
    font-size: $icon-btn-size;
    color: $btn-color;
    padding: 2px 5px 0 0;
  }
}

.timer-btn:hover {
  @include timer-btn-hover;
}

// ===== SESSION MENU BUTTONS =====
.sesh-times img {
  @include sesh-style;
}

// .sesh-times:hover {
//   @include btn-hover;
// }

.sesh-timer hr {
  margin: 30px 0 20px 0;
}

// ===== DESCRIPTION PAGE BUTTONS =====
.page-nav-btns {
  display: flex;
  justify-content: center;
  span {
    font-size: $default-font-size;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin: 4px 20px;
  }
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 15px;
    font-size: $btn-font-size;
    color: $btn-color;
  }
  li a:hover {
    color: $btn-hover-color;
  }
}

