@import "partials/variables";
@import "partials/mixins";
@include google-font("Work+Sans");
@include google-font("Playfair+Display");
body {
  font-family: $text-font;
  color: $body-text-color;
  height: $body-height;
}

h1 {
  @include center-text;
  font-family: $headline-font;
  color: $header-text-color;
}

h2,
h3,
h4,
h5 {
  @include center-text;
  @include content-margins;
  font-family: $headline-font;
  color: $header-text-color;
}

h6 {
  @include center-text;
  @include small-body-text;
  margin: 10px 0;
}

p {
  @include default-body-text;
  @include left-justify-text;
  font-family: $text-font;
}

label {
  @include content-margins;
}

.welcome-content {
  #welcome-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  p {
    font-family: $headline-font;
    margin: 10px 0 0 0;
  }
}

// ===== SIGN IN/OUT BUTTONS =====
.sign-up-btn {
  @include signup-btn-style;
}

.sign-in-btn {
  @include signin-btn-style;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
  @include button-hover;
}

// ===== DEFAULT BUTTONS =====
.button {
  @include button-style;
}

.button:hover {
  @include button-hover;
}

//===== TIMER BUTTON =====

.timer-btn {
  @include timer-btn-style;
  span {
    font-size: $default-font-size;
    padding: 2px 5px 0 0;
  }
}

.timer-btn:hover {
@include timer-btn-hover;
}

// ===== SESSION MENU BUTTONS =====

.sesh-times img {
  @include sesh-style;
}

.sesh-times:hover {
  @include image-hover;
}

.sesh-timer hr {
  margin: 30px 0 20px 0;
}

// ===== DESCRIPTION PAGE BUTTONS =====

.page-nav-btns {
  display: flex;
  justify-content: center;
  span {
    font-size: $default-font-size;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin: 4px 20px;
  }
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 15px;
    font-size: $btn-font-size;
    color: $btn-color;
  }
  li a:hover {
    color: $btn-hover-color;
  }
}

// ===== TIMED SESSION STYLE =====

.sesh-timer {
  h1 {
    font-family: $text-font;
    font-size: 150px;
    font-weight: bold;
    margin: -20px 0 0 0;
  }
  p {
    font-size: 30px;
    margin: -30px 0 0 0;
    text-align: center;
  }
} 

.exercise-desc {
  h3 {
  margin: 0 0 10px 0;
  }
}