@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
body {
  font-family: "Work Sans", sans-serif;
  color: #336C7F;
  height: 600px;
  margin: 175px 0 0 0;
}

h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #51ACCC;
}

h2,
h3,
h4,
h5 {
  text-align: center;
  margin: 20px auto 0 auto;
  font-family: "Playfair Display", serif;
  color: #51ACCC;
}

h6 {
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  margin: 10px 0;
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  font-family: "Work Sans", sans-serif;
}

label {
  margin: 20px auto 0 auto;
}

#welcome-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-content p {
  font-family: "Playfair Display", serif;
  margin: 10px 0 0 0;
}

.sign-up-btn {
  background-color: none;
  border: 1px solid #336C7F;
  border-radius: 3px;
  color: #336C7F;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4;
  /* Safari */
  transition-duration: 0.4;
}

.sign-in-btn {
  background-color: #336C7F;
  border: none;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4;
  /* Safari */
  transition-duration: 0.4;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
  background-color: #51ACCC;
  color: #fff;
}

.auth-form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.email-field,
.pw-field {
  width: 300px;
  margin: 5px;
}

.button {
  background-color: #336C7F;
  border: none;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px auto;
  padding: 10px 20px;
  float: right;
  cursor: pointer;
  -webkit-transition-duration: 0.4;
  /* Safari */
  transition-duration: 0.4;
}

.button:hover {
  background-color: #51ACCC;
  color: #fff;
}

.timer-btn {
  background-color: none;
  border: 1px solid #336C7F;
  border-radius: 3px;
  color: #336C7F;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 15px auto;
  padding: 10px 30px;
  cursor: pointer;
}

.timer-btn span {
  font-size: 18px;
  padding: 2px 5px 0 0;
}

.timer-btn:hover {
  background-color: #51ACCC;
  color: #fff;
}

.sesh-times img {
  display: block;
  margin: 30px auto 0 auto;
}

.sesh-times:hover {
  opacity: 0.7;
}

.sesh-timer hr {
  margin: 30px 0 20px 0;
}

.page-nav-btns {
  display: flex;
  justify-content: center;
}

.page-nav-btns span {
  font-size: 18px;
}

.page-nav-btns ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-nav-btns li {
  float: left;
  margin: 4px 20px;
}

.page-nav-btns li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0 15px;
  font-size: 16px;
  color: #336C7F;
}

.page-nav-btns li a:hover {
  color: #51ACCC;
}

.sesh-timer h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 150px;
  font-weight: bold;
  margin: -20px 0 0 0;
}

.sesh-timer p {
  font-size: 30px;
  margin: -30px 0 0 0;
  text-align: center;
}

.exercise-desc h3 {
  margin: 0 0 10px 0;
}
/*# sourceMappingURL=style.css.map */