nav.navbar.navbar-default {
  margin-bottom: 0;
}

.mainNav {
  background-color: #336C7F;
  height: 80px;
  z-index: 100;
  box-shadow: 0 1px 2px rgb(41, 55, 59);
}

/* .nav-link {
  padding: 5px;
} */

li {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  line-height: 1.6;
  padding: 0;
}

a {
  display: block;
  color: rgb(255, 255, 255);
}

#logo {
  width: 75%;
}