.mainNav {
  background-color: #336C7F;
  height: 80px;
  z-index: 100;
  box-shadow: 0 1px 2px rgb(41, 55, 59);
}

.mainNav ul {
  list-style-type: none;
  margin: 38px 0 0 0;
  padding: 0;
}

.mainNav li {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  line-height: 1.6;
  display: inline;
}

.mainNav li a {
  display: inline;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 0 10px;
  text-decoration: none;
}

.mainNav li a:hover {
  color: #B2EBFF;
}

.navbar-brand {
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}