.mainNav {
  background-color: #51ACCC;
  height: 50px;
  z-index: 50;
  position: fixed;
  top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainNav li {
  float: left;
  margin: 10px 20px;
}

.mainNav li span {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0 25px;
  font-size: 30px;
  color: rgb(209, 239, 250);
}

.mainNav li span:hover {
  color: #336C7F;
}