.mainNav {
  background-color: #51ACCC;
  height: 50px;
  z-index: 50;
  position: fixed;
  top: 90px;
  width: 100%;
}

.navBtns {
  width: 300px;
  margin: 0 auto;
}

.mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainNav li {
  float: left;
  margin: 10px;
}

.far,
.fas {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0 25px;
  font-size: 30px;
  color: rgb(209, 239, 250);
}

.far:hover,
.fas:hover {
  color: #336C7F;
}